body {
    margin: 0;
    padding: 0;
	background: url(PRY2JorgeRocheimg2.jpg) fixed center center no-repeat #A4A4A4; 
}

header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: 15px;
    font-family: sans-serif;
    color: dimgray;
    background-color: aliceblue;
}

h1 {
    font-size: 20px;
    color: black;
    background-color: aliceblue;
    margin: 15px;
}

.tabla_datos {
    width: 100%;
    display: flex;
}

.tabla_mostrar_datos {
    width: 100%;
}

p {
    font-size: 25px;
    font-family: sans-serif;
    color: black;
}

input {
    border-radius: 5px;
    padding: 10px;
    border-color: black;
} 

button {
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    background-color: dimgrey;
    color: black;
    font-size: 20px;
}

label {
    font-size: 20px;
}